@charset "UTF-8";
/* 전체 */
html {
    width: 100%;
    height: 100%;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

html {
    display: block;
    color: -internal-root-color;
}

body {
    min-width: 1360px;
}

body, code {
    font-family: 'gill sans','gill sans MT','Lato','Open Sans','나눔고딕','Nanum Gothic','dotum',sans-serif;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    background: #fff;
    letter-spacing: 0.5px;
}

body {
    display: block;
    margin: 8px;
}

#wrap {
    position: relative;
}

div {
    display: block;
}

#container:after {
    content: "";
    display: block;
    clear: both;
}

#contents {
    width: 1260px;
    margin: 100px auto;
}

/* BOARD LIST */
.titleArea {
    min-height: 30px;
    margin: 10px 0 40px;
    text-align: center;
}

.titleArea h2 {
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 400;
    *display: inline;
    *zoom: 1;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.titleArea h3 {
    display: none;
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #999;
}

h1, h3 {
    margin: 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* 분류 선택 */
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

select {
    height: 26px;
    border: 1px solid #eaeaea;
}

input, select, textarea {
    font-size: 100%;
    font-family: 'gill sans','gill sans MT','Lato','Open Sans','나눔고딕','Nanum Gothic','dotum',sans-serif;
    color: #777;
    vertical-align: middle;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark-color(white, black);
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

/* 게시물 표 */
.gBlank10 {
    display: block;
    margin-top: 10px;
}

.ec-base-table.typeList table {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.ec-base-table table {
    position: relative;
    margin: 10px 0 0;
    border-top: 0;
    color: #fff;
    line-height: 1.6;
    border-bottom: 1px solid #ddd;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

table[Attributes Style] {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.ec-base-table.typeList table:before {
    display: none;
}

.ec-base-table table:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #d7d5d5;
}

caption {
    display: none;
}

caption {
    display: table-caption;
    text-align: -webkit-center;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.ec-base-table thead th {
    padding: 11px 0 10px;
    border-bottom: 4px double #ddd;
    color: #353535;
    vertical-align: middle;
    font-weight: normal;
    font-size: 11px;
}

th, td {
    border: 0;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

/* 테이블 body */
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.ec-base-table.typeList.gBorder tbody td {
    border-color: #eee;
}

.ec-base-table table td.message {
    padding: 50px 0;
}

.ec-base-table.typeList td {
    padding: 11px 10px 10px;
}

.ec-base-table .message {
    border: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
    padding: 50px 0;
    text-align: center;
    color: #999;
}

.ec-base-table td {
    padding: 11px 10px 10px;
    border-top: 1px solid #ddd;
    color: #353535;
    vertical-align: middle;
}

/* 풋터 */
hr.layout {
    display: none;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
